<!DOCTYPE html>
<html>
<head>
	<title>REQUESTS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	
</head>

<body>
	
	<%include partials/header%>

	<div class="container-fluid main-body" style="margin-top: 50px">
		<div style="padding: 50px 0 20px 0">
			<div class="row">
				
				<%include partials/nav%>
				
				<div class="col-md-9 col-sm-9 col-lg-9  ">
					<div class="card" style="background-color: transparent;">
						<div class="card-header">
							<h3>FRIEND REQUESTS</h3>

							<a href="/requests/sentrequests">
							<button class="black" style="cursor: pointer;color: #fff">SENT</button></a>
							
							
						</div>
						<div class="card-body" style="height: 500px; overflow: hidden">
							
							<div style="width: 103%;height:100%;overflow-x: hidden;overflow-y: scroll; padding: 2%" >

								<% for(request in requests){ %>
									
									<div class="card" style="width: 250px; float: left;margin: 10px 10px 0 0" 
										id="<%= 'b' + 		requests[request].uid%>">
										<div class="card-header chat-body" style="text-align: center;height: 40px;">
											<h5 style="line-height: 15px">
												<%= requests[request].name%>
													
											</h5>
										</div>

										<div class="card-body" style="background-color: transparent;">
											<img src="<%= requests[request].image%>" style="height: 250px;width: 100%">
										</div>

										<div class="card-footer chat-body">
											<input type="button" class="mybtn" style="background-image: url('/images/green_btn.PNG');font-size: 15px;" value="ACCEPT" 
											id="<%= 'a/' + requests[request].uid%>">

											<input type="button" class="mybtn" style="background-image: url('/images/red_btn.PNG');font-size: 15px;" value="CANCEL" 
											id="<%= 'c/' + requests[request].uid%>">
											
										</div>
									</div>

								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/friendRequests.js"></script>
<script type="text/javascript" src="/js/notification.js"></script>
	
</html>